<div class="over-lap">
  <div class="relative z-10">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
  </div>
  <div class="first-intro">
    <section class="View">
      <div class="View-hero">
        <div class="View-video" data-aos="hero-back" data-aos-duration="1200">
          <video loop muted autoplay class="" width="100%">
            <source *ngIf="product" [src]="product.heroImg[1]" type="video/mp4">
          </video>
        </div>
        <div class="view-overlay">
          <div class="container">
            <div class="view-tittle" data-aos="hero-tittle" data-aos-delay="900" data-aos-duration="1500"
            *ngIf="product">{{product.heroHead}}</div>
            <div class="view-content" data-aos="hero-tittle" data-aos-delay="1500" data-aos-duration="3000"
            *ngIf="product">{{product.heroContent}}</div>
            <div (click)="scrollToNextSection()" class="scroll-link">
              <div class="box">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="track" data-aos="swipe-back" data-aos-duration="1200" id="next">

    <div class="panel">
      <div class="card">
        <div class="content" *ngIf="product">
          <h1>{{product.frameTittle}}</h1>
          <p>{{product.frameContent}}</p>
        </div> 
        <div class="media">
          <img *ngIf="product" [src]="product.heroImg[2]" alt="frameImg">
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <div class="card-img">
          <img *ngIf="product" [src]="product.heroImg[3]" alt="frameImg">
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <div class="card-img">
          <img *ngIf="product" [src]="product.heroImg[4]" alt="frameImg">
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <div class="card-img">
          <img *ngIf="product" [src]="product.heroImg[5]" alt="frameImg">
        </div>
      </div>
    </div>

  </div>

  <div class="last-intro" *ngIf="product" [ngStyle]="{'background-image': 'url(' + product.heroImg[6] + ')'}">
    <div class="intro-content">
      <h1 data-aos="last-text" data-aos-delay="100" data-aos-duration="1200">{{product.viewLastIntroTittle}}</h1>
      <p data-aos="last-text" data-aos-delay="100" data-aos-duration="1200">{{product.viewLastIntroContent}}</p>
    </div>
  </div>


</div>
<div *ngIf="!product">
  <p>Product not found</p>
</div>
