<div class="over-lap">

  <div class="relative z-10">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
  </div>
  <div class="first-intro">
    <!-- UPDATE FORMS FRAME HERO -->
    <button class="UpdateBtn" (click)="openUpdateForm()"><img src="../../assets/images/edit.png" alt="Update"></button>
    <div *ngIf="showUpdateForm" class="frameLayer">
      <button type="button" (click)="cancelUpdate()" class="cancelPop">
        <img src="../../assets/images/close.png" alt="icon">
      </button>

      <form (submit)="saveUpdate()">
        <div class="heroEdit">
          <div class="container">
            <input type="text" [(ngModel)]="updatedProduct.heroHead" name="heroHead" class="view-tittle"
              style="text-transform: uppercase;" autocomplete="off">
            <input type="text" [(ngModel)]="updatedProduct.heroContent" name="heroContent" class="view-content"
              style="text-transform: uppercase;">
          </div>
        </div>


        <button type="submit" class="savePop">
          <img src="../../assets/images/tick.png" alt="icon">
        </button>
      </form>
    </div>
    <!-- UPDATE FORMS FRAME HERO END -->
    <section class="View">
      <div class="View-hero">
        <div class="View-video" data-aos="hero-back" data-aos-duration="1200">
          <video loop muted autoplay class="" width="100%">
            <source *ngIf="product" [src]="product.heroImg[1]" type="video/mp4">
          </video>
        </div>
        <div class="view-overlay">
          <div class="container">
            <div class="view-tittle" data-aos="hero-tittle" data-aos-delay="900" data-aos-duration="1500"
              *ngIf="product">{{product.heroHead}}</div>
            <div class="view-content" data-aos="hero-tittle" data-aos-delay="1500" data-aos-duration="3000"
              *ngIf="product">{{product.heroContent}}</div>
            <div (click)="scrollToNextSection()" class="scroll-link">
              <div class="box">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="track" data-aos="swipe-back" data-aos-duration="1200" id="next">
    <!-- UPDATE FORMS FRAME HERO -->
    <button class="UpdateBtn frame" (click)="openUpdateForm()"><img src="../../assets/images/edit.png"
        alt="Update"></button>

    <div *ngIf="showUpdateForm" class="frameLayer frame">
      <button type="button" (click)="cancelUpdate()" class="cancelPop frame">
        <img src="../../assets/images/close.png" alt="icon">
      </button>

      <form (submit)="saveUpdate()">
        <div class="heroEdit framy">
          <div class="">
            <textarea type="text" [(ngModel)]="updatedProduct.frameTittle" name="frameTittle" class="view-tittle"
              rows="2"></textarea>

            <textarea type="text" [(ngModel)]="updatedProduct.frameContent" name="frameContent" class="view-content"
              rows="10"></textarea>
          </div>
        </div>

        <button type="submit" class="savePop frame">
          <img src="../../assets/images/tick.png" alt="icon">
        </button>
      </form>
    </div>
    <!-- UPDATE FORMS FRAME HERO END -->
    <div class="panel">

      <div class="card">
        <div class="content" *ngIf="product">
          <h1>{{product.frameTittle}}</h1>
          <p>{{product.frameContent}}</p>
        </div>
        <div class="media">
          <img *ngIf="product" [src]="product.heroImg[2]" alt="frameImg">
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <div class="card-img">
          <img *ngIf="product" [src]="product.heroImg[3]" alt="frameImg">
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <div class="card-img">
          <img *ngIf="product" [src]="product.heroImg[4]" alt="frameImg">
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <div class="card-img">
          <img *ngIf="product" [src]="product.heroImg[5]" alt="frameImg">
        </div>
      </div>
    </div>



  </div>

  <div class="last-intro" *ngIf="product" [ngStyle]="{'background-image': 'url(' + product.heroImg[6] + ')'}">
    <div class="intro-content">
      <!-- UPDATE FORMS FRAME HERO -->
      <button class="UpdateBtn" (click)="openUpdateForm()"><img src="../../assets/images/edit.png"
          alt="Update"></button>
      <div *ngIf="showUpdateForm" class="frameLayer">
        <button type="button" (click)="cancelUpdate()" class="cancelPop">
          <img src="../../assets/images/close.png" alt="icon">
        </button>

        <form (submit)="saveUpdate()">
          <div class="heroEdit">
            <div class="container">
              <textarea type="text" name="frameTittle" [(ngModel)]="updatedProduct.viewLastIntroTittle"
                class="view-tittle" cols="20" rows="2"></textarea>

              <textarea type="text" name="frameContent" [(ngModel)]="updatedProduct.viewLastIntroContent"
                class="view-content" rows="1"></textarea>
            </div>
          </div>

          <button type="submit" class="savePop">
            <img src="../../assets/images/tick.png" alt="icon">
          </button>
        </form>
      </div>
      <!-- UPDATE FORMS FRAME HERO END -->
      <h1 data-aos="last-text" data-aos-delay="100" data-aos-duration="1200">{{product.viewLastIntroTittle}}</h1>
      <p data-aos="last-text" data-aos-delay="100" data-aos-duration="1200">{{product.viewLastIntroContent}}</p>
    </div>
  </div>

</div>
<div *ngIf="!product">
  <p>Product not found</p>
</div>
<div class="minScreen">
  <p>Use Big Screen on <span>1500px</span></p>
</div>