<div id="main">

  <div id="page">
    <canvas id="does-not-exist"></canvas>
    <div class="fixed-hero">
      <section class="hero container">
        <div class="hero-tittle-one">
          Angular of the day
        </div>
      </section>

      <!-- <a href="#page3" class="btnn">DOWN</a> -->
      <div class="marquee">
        <div class="marquee-container">
          <div class="marquee-part">Techsembly</div>
          <div class="marquee-part">project</div>
          <div class="marquee-part">Hype</div>
          <div class="marquee-part">Angular</div>
          <div class="marquee-part">Blogs</div>
          <div class="marquee-part">Code</div>
          <div class="marquee-part">typescript</div>
          <div class="marquee-part">Techsembly</div>
          <div class="marquee-part">project</div>
          <div class="marquee-part">Hype</div>
          <div class="marquee-part">Angular</div>
          <div class="marquee-part">Blogs</div>
          <div class="marquee-part">Code</div>
          <div class="marquee-part">typescript</div>
          <div class="marquee-part">Techsembly</div>
          <div class="marquee-part">project</div>
          <div class="marquee-part">Hype</div>
          <div class="marquee-part">Angular</div>
          <div class="marquee-part">Blogs</div>
          <div class="marquee-part">Code</div>
          <div class="marquee-part">typescript</div>
        </div>
      </div>
    </div>
  </div>
  <div id="page1">
    <div class="addBlog">
      <a routerLink="/create" target="_blank">
        <img src="../../assets/images/plus.png" alt="icon">
      </a>
    </div>

    <div class="projects-layout">
      <div class="projects-card" *ngFor="let product of items$ | async">
        <div class="card-top">
          <h3 class="project-title">{{product.heroHead}}</h3>
          <p class="project-title-short">{{product.heroContent}}</p>
          <a [routerLink]="['/view', product.id]" target="_blank" class="project-link">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 6.9024L10.7113 6.903L7.07799 10.7226L8.2912 12L14 5.9982L8.29576 0L7.08141 1.2774L10.7148 5.097H0V6.9024Z"
                fill="black"></path>
            </svg>
          </a>
        </div>
        <div class="project-image"><img [src]="product.heroImg" [alt]=""></div>

      </div>
    </div>
  </div>
  <div id="page2" class="centerData">
    <div class="feature-section whatI">
      <h3>Features</h3>

      <div class="feature-layout">
        <div class="feature-card test">
          <div class="top">FireBase
            <div class="topIcon"><img src="../../assets/images/firebase.svg" alt="Card-icon"></div>
          </div>
          <div class="text">
            <p>
              Firebase <strong>Firestore</strong> & <strong>Storage</strong> for CRUD and file uploads. Animated loops
              enhanced blog data display. Fixed arrays maintained data consistency during form uploads. APIs populated
              the project with external data. Overall, this resulted in streamlined data management, dynamic visuals,
              and seamless integration with external sources.
            </p>
          </div>
        </div>
        <div class="feature-card">
          <div class="top a">Animation
            <div class="topIcon"><img src="../../assets/images/scrolling.png" alt="Card-icon"></div>

          </div>
          <div class="text">
            <p>
              <strong>GSAP</strong> along with ScrollTrigger & Locomotive Animation library to create captivating
              animations. Drawing inspiration from my own creativity, I designed unique animations throughout the
              website, starting from an explosive egg animation on the page. I incorporated various other stunning
              animations to enhance the user experience, dynamic website.
            </p>
          </div>
        </div>
        <div class="feature-card">
          <div class="top ng">Angular
            <div class="topIcon"><img src="../../assets/images/angular.svg" alt="Card-icon"></div>

          </div>
          <div class="text">
            <p>
              I tackled the challenge of <strong>Integrating</strong> Firebase and animations into an Angular app. I
              developed a full-fledged app that smoothly retrieves dynamic data from a database. Although my project is
              a work in progress and not perfect, I continuously strive to enhance the website and learn over time,
              gaining valuable experience and improving my skills.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="page3">
    <div class="feature-section useGuide">
      <div class="container">

        <div class="cardy">
          <div class="card-layout perspective">
            <div class="feature-card card">
              <div class="text">
                <h3>Cards With ID View</h3>
                <p>
                  I implemented a loop of cards in the project, each associated with unique blog IDs. When a card is
                  clicked, it opens a new page where data is dynamically populated in HTML. The cards showcase multiple
                  animations, including a horizontal scroll animation. Additionally, there is an "Add" button that, when
                  clicked, opens a new page displaying a form to create a blog. This form captures user input for
                  writing custom content.
                </p>
              </div>
              <div class="media">
                <img src="../../assets/images/threeLoop.png" width="100%" alt="media">
              </div>
            </div>
          </div>
        </div>

        <div class="cardyCreate">
          <div class="card-layout perspective">
            <div class="feature-card cardCreate ">
              <div class="text">
                <h3>create blog Page</h3>
                <p>
                  <span>
                    created a blog page that allows users to add new posts. When the user clicks on the "Add" button, a
                    form page opens up where they can enter the blog title, content, and upload media data, such as
                    images or videos. I implemented a fixed number of form fields to maintain consistency and
                    organization.
                  </span>

                  <span>
                    Upon submission, the data is uploaded to the Firebase database as a string, and the media files are
                    stored in the Firebase Storage. I generated URLs for the uploaded media, linking them to the
                    corresponding blog post in the database.
                  </span>

                  <span>
                    To enhance the user experience, I implemented a card display on a separate section that shows all
                    the blog posts' titles and includes a delete icon. This functionality allows easy management of blog
                    posts for both administrators and regular users. Administrators have the ability to delete posts if
                    needed, ensuring the cleanliness of the blog.
                  </span>

                  <span>
                    Throughout the development process, I received assistance from the chapter, which aided me in
                    implementing these features effectively. By incorporating these elements, I created a user-friendly
                    blog page that enables easy content creation, storage, and management.
                  </span>

                </p>
              </div>
              <div class="media">
                <img src="../../assets/images/cretaeGuide.webp" width="100%" alt="media">
              </div>
            </div>
          </div>
        </div>

        <div class="cardyView">
          <div class="card-layout perspective">
            <div class="feature-card cardView ">
              <div class="text">
                <h3>Ready Blog</h3>
                <p>
                  blog page, and now the data that is filled in goes directly to the database. The view page is designed to display the data smoothly by populating it in HTML. Furthermore, I have integrated a pre-built horizontal scroll component with animation effects, providing a seamless and visually appealing browsing experience.
                  <br>
                  This feature allows users to navigate through the blog posts effortlessly and enjoy the content in an engaging manner. Overall, these enhancements contribute to a polished and user-friendly blog page that effectively showcases the populated data.
                </p>
              </div>
              <div class="media">
                <img src="../../assets/images/viewGuide.webp" width="100%" alt="media">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>
<div class="minScreen">
  <p>Use Big Screen on <span>1500px</span></p>
</div>